@using KisaMusic.Domain.Models
@{
    ViewData["Title"] = "Details page";
    Layout = "_Layout";
}
@model Track
<h2>Track @Model.Title</h2>
       <div>
           <dl class="dl-horizontal">
               <dt>Id</dt>
               <dd>@Model.Id</dd>
        
               <dt>Title</dt>
               <dd>@Model.Title</dd>
               
               <dt>File</dt>
               <a> @Model?.FileKisa.Name</a>
               <dt>Artist</dt>
                <a class="nav-link text-dark" asp-area="" asp-controller="Artist" asp-action="Details" asp-route-id="@Model.Artist.Id">@Model?.Artist.Nickname</a>
               <dt>Album</dt>
               <a class="nav-link text-dark" asp-area="" asp-controller="Album" asp-action="Details" asp-route-id="@Model.Album.Id">@Model?.Album.Title</a>
           </dl>
       </div>
       